.settings {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.settingsContent {
    display: flex;
    flex-direction: column;

    list-style: none;
    margin: 0;

    width: 100%;
    height: 100%;

    padding: 0 0.625rem 0.625rem 0.625rem;

    gap: 0.625rem;
}

.settingsItem {
    display: flex;
    flex-direction: column;

    background: var(--surface-color);

    width: 100%;

    gap: 0.625rem;
    padding: 0.625rem;
    border-radius: var(--border-radius);

    .title {
        margin: 0;
    }

    .content {
        display: flex;
        flex-direction: column;

        gap: 0.625rem;
    }

    .actions {
        display: flex;
        flex-direction: row;
        gap: 0.3125rem;

        & > input {
            width: 100%;
        }

        .dangerButton {
            background: var(--danger-color);
        }
    }
}