.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: var(--surface-color);
    border-radius: var(--border-radius);
    padding: 0.625rem;

    .content {
        display: flex;
        flex-direction: row;
        .avatar {
            width: 4.375rem;
            height: auto;
            margin-right: 0.625rem;

            border-radius: var(--border-radius);
            overflow: hidden;
        }
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.3125rem;

        .button {
            padding: 0.625rem 1rem;
        }

        .dangerButton {
            background: var(--danger-color);
        }
    }
}