.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.4375rem;

    width: 50%;
    max-width: 21.875rem;

    & > h2 {
        margin: 0;
    }

    &.noAccount {
        padding: 0 3.125rem;
        width: 100%;
        max-width: 25rem;

        background: var(--second-surface-color);
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;

    & > p {
        margin: 0;
        color: var(--text-color);
    }

    & > a {
        text-decoration: none;
    }
}

.button {
    width: 100%;
}

.input {
    width: 100%;
}

.noAccount {
    width: 100%;
    height: 100%;

    background: url("../../../assets/home/background2.png") no-repeat center center;
    background-size: cover;
}