.content {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 0.3125rem;
    justify-content: flex-end;
}

.dangerButton {
    background: var(--danger-color);
}