.fbi {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    gap: 0.625rem;

    & h2 {
        margin: 0;
    }
}

.categories {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;

    background: var(--surface-color);
    padding: 0.625rem;
    border-radius: var( --border-radius)
}

a {
    text-decoration: none;
}