:root {
    --font-family: system-ui, Avenir, Helvetica, Arial;
    --color-scheme: dark;
    --border-radius: 0.5rem;
    --text-color: #e0e1dd;
    --secondary-color: darkgray;
    --background-color: #0d1b2a;
    --surface-color: #415a77;
    --second-surface-color: #1b263b;
    --accent-color: #8be9fd;
    --danger-color: #c1121f;
}

html, body, #root {
    font-family: var(--font-family), sans-serif;
    color-scheme: var(--color-scheme);
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}