.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    background: var(--control-bg);
    cursor: pointer;

    font-size: 0.9375rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.3125rem;

    transition-duration: 0.1s;

    & > svg {
        width: 1.25rem;
        height: 1.25rem;
        color: var(--text-color);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 0.7;
        }
    }

    &:active {
        opacity: 0.5;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            opacity: 0.5;
        }
    }
}