.customCheckBoxHolder {
    display: flex;
}

.customCheckBox {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 0.125rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 0;
    color: rgba(255, 255, 255, 0.7);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 2rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0.125rem 0.0625rem 0 inset, rgba(255, 255, 255, 0.17) 0 0.0625rem 0.0625rem 0;
    outline: none;
    justify-content: center;
    min-width: 3.4375rem;

    &:hover {
        background-color: #2c2c2c;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.23) 0rem -0.25rem 0.0625rem 0rem inset, rgba(255, 255, 255, 0.17) 0rem -0.0625rem 0.0625rem 0rem, rgba(0, 0, 0, 0.17) 0rem 0.125rem 0.25rem 0.0625rem;

        .inner {
            transform: translateY(-0.125rem);
        }
    }

    .inner {
        font-size: 1.125rem;
        font-weight: 900;
        pointer-events: none;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 300ms;
        transition-property: transform;
        transform: translateY(0rem);
    }
}

.customCheckBoxWrapper {
    &:first-of-type .customCheckBox {
        border-bottom-left-radius: 0.3125rem;
        border-top-left-radius: 0.3125rem;
        border-right: 0;
    }

    &:last-of-type .customCheckBox {
        border-bottom-right-radius: 0.3125rem;
        border-top-right-radius: 0.3125rem;
        border-left: 0;
    }
}

.customCheckBoxInput {
    display: none;

    &:checked + .customCheckBoxWrapper .customCheckBox {
        background-color: #2d6737;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.23) 0rem -0.25rem 0.0625rem 0rem inset, rgba(255, 255, 255, 0.17) 0rem -0.0625rem 0.0625rem 0rem, rgba(0, 0, 0, 0.17) 0rem 0.125rem 0.25rem 0.0625rem;

        .inner {
            transform: translateY(-0.125rem);
        }

        &:hover {
            background-color: #34723f;
            box-shadow: rgba(0, 0, 0, 0.26) 0rem -0.25rem 0.0625rem 0rem inset, rgba(255, 255, 255, 0.17) 0rem -0.0625rem 0.0625rem 0rem, rgba(0, 0, 0, 0.15) 0rem 0.1875rem 0.375rem 0.125rem;
        }
    }
}