.discordLink {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.625rem;

    & h3 {
        margin: 0;
    }
}

.copy {
    cursor: pointer;
    background: var(--control-bg);
    border-radius: 0.3125rem;
    padding: 0 0.625rem;
    user-select: text;
}