.progressBar {
    position: relative;
    width: 100%;

    background: var(--surface-color);
    z-index: 0;

    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
}

.progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    border-radius: var(--border-radius);

    background: var(--accent-color);
    z-index: -1;

    transition: width 0.2s ease-in-out;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 0.125rem;

    font-size: 1rem;
    mix-blend-mode: difference;
}

.indeterminate {
    width: 40%;
    left: 0;
    animation: indeterminate 1.2s linear infinite;
}

@keyframes indeterminate {
    0%   { transform: translateX(-120%); }
    100% { transform: translateX(350%); }
}