.mainLayout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .content, .animationWrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}