.content {
    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 0.625rem;


    & span {
        background: var(--control-bg);
        border-radius: var(--border-radius);
        border: 0.125rem solid var(--border-color);
        padding: 0.3125rem;
    }
}