.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.4375rem;

    width: 100%;
    height: 100%;

    max-width: 31.25rem;
    padding: 1.25rem;

    border-radius: var(--border-radius);

    & > h2 {
        margin: 0;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;

    & > p {
        margin: 0;
        color: var(--text-color);
    }

    & span {
        cursor: pointer;
        color: #2196f3;
    }
}

.button {
    width: 100%;
}

.input {
    width: 100%;
}

.textarea {
    min-width: 100%;
    max-width: 100%;
    height: 6.25rem;
    resize: none;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 0.3125rem;

    margin: 0.3125rem 0;

    & a {
        text-decoration: none;
    }
}