.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    -webkit-app-region: drag;

    padding: 0.125rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 0.3125rem;

    & > img {
        margin: 0 0 0 0.125rem;
        width: 1rem;
        height: 1rem;
    }

    & > h4 {
        margin: 0 0 0 0.125rem;
        padding: 0;
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-right: 0.125rem;

    -webkit-app-region: no-drag;

    .actionButton {
        background: transparent;
        padding: 0;

        & > img {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}