.skinPicker {
    display: flex;
    flex-direction: row;
    gap: 0.3125rem;
    align-items: center;
    width: 100%;

    & p {
        margin: 0;
        max-width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}