.backdrop {
    display: flex;
    position: absolute;

    align-items: center;
    justify-content: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 100;

    backdrop-filter: blur(0.3125rem) brightness(0.9);
}

.modal {
    display: flex;
    flex-direction: column;

    background: var(--surface-color);
    border-radius: var(--border-radius);

    text-wrap: pretty;
    word-break: break-word;

    max-width: 60vw;
    max-height: 80vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 0.9375rem 1.25rem;

    font-size: 1.125rem;

    border-bottom: 0.0625rem solid var(--control-bg);
}

.content {
    padding: 0.9375rem 1.25rem;

    width: 100%;
    height: 100%;

    overflow-y: auto;
}