.input {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    background: var(--control-bg);
    cursor: text;

    font-size: 0.9375rem;

    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 0.1s;

    &::placeholder {
        color: var(--text-color);
        opacity: 0.5;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--primary-color);
    }
}