.button {
    border: none;
    border-radius: var(--border-radius);
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 0.1s;

    & > img {
        width: 100%;
        height: 100%;
        color: var(--text-color);
        border-radius: var(--border-radius);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            opacity: 0.7;
        }
    }

    &:active {
        opacity: 0.5;
    }
}