.textareaWrapper {
    position: relative;
    width: 100%;
}

.textarea {
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius);
    background: var(--control-bg);
    cursor: text;
    font-family: var(--font-family), sans-serif;

    font-size: 0.9375rem;

    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;

    transition-duration: 0.1s;

    &::placeholder {
        color: var(--text-color);
        opacity: 0.5;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--primary-color);
    }
}

.charCounter {
    position: absolute;
    bottom: 0.125rem;
    right: 0.3125rem;
    font-size: 0.875rem;
    color: var(--secondary-color);
    pointer-events: none;
}