.accounts {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        overflow-y: auto;

        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera */
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        padding: 0 1.25rem 1.25rem 1.25rem;

        & > h1 {
            margin: 0;
        }

        & > a {
            display: flex;
            text-decoration: none;
            color: var(--text-color);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        list-style: none;

        padding: 0 1.25rem 1.25rem 1.25rem;
        margin: 0;

        gap: 0.625rem;
    }
}