.register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.4375rem;

    & > h2 {
        margin: 0;
    }

    &.noAccounts {
        padding: 0 3.125rem;
        width: 100%;
        max-width: 25rem;

        background: var(--surface-color);
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;

    & > p {
        margin: 0;
        color: var(--text-color);
    }

    & > a {
        text-decoration: none;
    }
}

.button {
    width: 100%;
}

.input {
    width: 100%;
}

.textarea {
    min-width: 100%;
    max-width: 100%;
    height: 6.25rem;
    resize: none;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.3125rem;

    margin: 0.3125rem 0;

    & a {
        text-decoration: none;
    }
}

.noAccounts {
    width: 100%;
    height: 100%;

    background: url("../../../assets/background2.png") no-repeat center center;
    background-size: cover;
}